.init_list ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.init_list li {
    display: inline;
}

.terminology_banner {
    position: absolute;
    text-align: right;
    display: flex;
    border: 2px solid black;
    flex-grow: 1;
    padding: 20px;
    background-color: #AAAAAA;
    text-align: left;
    line-height: 40px;
}

.terminology_banner li::after {
    content: '';
    display: block;
    border-bottom: 1px solid #000000;
}

main {
    margin-left: 300px;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: right;
}
